html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: hsl(210, 30%, 15%);
    color: hsl(210, 30%, 80%);
    font-size: 16px;
    font-family: 'Jetbrains Mono', monospace;
    line-height: 150%;
    height: 100vh;
    width: 100vw;
    font-variant-ligatures: none;
}

#root {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: max-content 2fr;
    grid-gap: 1rem;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.env {
    background-color: hsl(210, 30%, 20%);
    height: calc(100vh - 2rem);
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 4px;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.env td div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.env td:last-child div {
    width: 20ch;
}

.env td:first-child div {
    padding-right: 1rem;
    cursor: pointer;
    width: 10ch;
}

.repl {
    background-color: hsl(210, 30%, 20%);
    display: grid;
    grid-template-rows: 1fr max-content;
    height: calc(100vh - 2rem);
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.history {
    overflow-y: scroll;
    height: 100%
}

input[type="text"] {
    border: 0;
    outline: 0;
    background-color: hsl(210, 30%, 25%);
    border-top: 1px solid hsl(210, 30%, 15%);
    color: hsl(210, 30%, 90%);
    padding: 1rem;
    border-radius: 0 0 4px 4px;
    font-family: 'Jetbrains Mono', monospace;
    font-size: 1rem;
    line-height: 150%;
    font-variant-ligatures: none;
}

input:active {
    border: 0;
    outline: 0;
}

dl {
    margin: 1rem;
}

dt, .symbol {
    cursor: pointer;
}

dt:hover, td:first-child:hover {
    color: white;
}

.symbol {
    color: inherit;
}

.error {
    color: hsl(350, 90%, 70%);
}

.list {
    color: hsl(330, 60%, 80%);
}

.lambda {
    color: hsl(160, 60%, 80%);
}

.nil {
    color: hsl(210, 30%, 55%);
}

.builtin {
    color: hsl(210, 60%, 70%);
}

.number {
    color: white;
}

.boolean {
    color: hsl(20, 90%, 70%);
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsla(200, 30%, 50%, 0.2);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsla(200, 30%, 50%, 0.4);
}