@import "nord.css";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--nord0);
    color: var(--text);
    font-family: 'Jetbrains Mono', monospace;
    line-height: 150%;
    height: 100%;
    font-variant-ligatures: none;
}

#root {
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 0.5rem;
    align-items: stretch;
    padding: 0.5rem;
    box-sizing: border-box;
}

.env-table {
    background-color: var(--nord0);
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 8px;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.3);
    overflow: auto;
    white-space: nowrap;
    width: 30ch;
}

.env-table td:first-child div {
    padding-right: 1rem;
    width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.repl {
    background-color: var(--nord0);
    display: grid;
    grid-template-rows: 1fr max-content;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.3);
}

.history {
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 8px 8px 0 0;
}

.history,
.env-table,
input[type="text"],
input:active {
    border-top: 1px solid hsla(0, 0%, 100%, 0.05);
    border-left: 1px solid hsla(0, 0%, 100%, 0.05);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
    border-right: 1px solid hsla(0, 0%, 0%, 0.2);
}

::selection {
    background: var(--nord3);
}

input[type="text"] {
    outline: 0;
    background-color: var(--nord1);
    color: var(--nord6);
    padding: 1rem;
    border-radius: 0 0 8px 8px;
    font-family: 'Jetbrains Mono', monospace;
    font-size: 1rem;
    line-height: 150%;
    font-variant-ligatures: none;
    caret-color: var(--nord6);
}

input:active {
    outline: 0;
}

input::selection {
    background: var(--nord10);
}

dl {
    margin: 1rem;
}

dd.result::before {
    content: "->";
    margin-right: 1ch;
    color: var(--nord9);
    opacity: 0.7;
    font-variant-ligatures: discretionary-ligatures;
}

.keyword {
    color: var(--nord7);
}

.comment {
    color: var(--nord9);
    margin-left: 1ch;
    opacity: 0.7;
}

.comment:first-child {
    margin-left: 0;
}

.lambda {
    color: var(--nord8);
}

.builtin {
    color: var(--nord9);
}

.variable {
    color: var(--nord4);
}

.error {
    color: var(--nord11);
}

.unknown {
    color: var(--nord4);
}

.list {
    color: var(--nord10);
}

.nil {
    color: var(--nord10);
}

.boolean {
    color: var(--nord14);
}

.number {
    color: var(--nord15);
}

:root {
    font-size: 15px;
    scrollbar-color: var(--nord3) transparent;

    --text: var(--nord4);
}

@media (max-width: 120ch) {
    #root {
        grid-template-columns: 1fr;
    }

    .env-table {
        display: none;
    }
}